.globalMatchPanel {
  min-height: 200px;
  background-color: #303338;
  border-radius: 5px;
}
.globalMatch {
  border-radius: 5px;
  height: 120px;
  display: flex;
  align-items: center;
}
.matchStatus {
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
  margin: 10px;
  background-color: #1f2f2e;
  border-radius: 5px;
}
.matchesTitle {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: flex-start;
}
.opponents {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}
.boType {
  width: 40%;

  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.trapezoid {
  width: 100%;
  height: 100%;
  color: #1b1e22;
  background-image: url("../../../../public/boLogo2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
